<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form method="post" action="/categorias/created">
            <h3> Nueva Categoria <i class="fa-solid fa-plus"></i></h3>
            <label for="name">Nombre de la categoria</label>
            <input type="text" name="name" id="name">

            <label for="description">Descripcion (edad maxima, etc)</label>
            <textarea name="description" id="description" ></textarea>

            <button type="submit">Crear Categoria</button>

        </form>
        <section>
            <h3>Lista de Categorias</h3>
            <nav>
                <% categorias.forEach(categoria => { %>
                    <div>
                        <p><%= categoria.name %></p>
                        <a href="/categorias/edit/<%=categoria.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form action="/categorias/delete/<%=categoria.id%>?m=DELETE" method="post">
                            <button type="submit">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </form>
                    </div>
                 
                <% }) %>
            </nav>

        </section>
        <form action="/subcategorias/created" method="post">
            <h3>Nueva Subcategoria <i class="fa-solid fa-plus"></i></h3>

            <label for="name">Nombre de la subcategoria</label>
            <input type="text" name="name" id="name">

            <label for="categoria_id">Categoria a la que pertenece</label>
            <select name="categoria_id" id="categoria_id">
                <option selected disabled>Elegí una Categoria</option>
                <% categorias.forEach(c =>{ %>
                    <option value="<%=c.id%>"><%= c.name %> </option> 
                <% }) %> 
            </select>

            <button type="submit">Crear Subcategoria</button>
        </form>
        <section>
            <h3>Lista de Subcategorias</h3>
            <nav>
                <% subcategorias.forEach(subcategoria => { %>
                    <div>
                        <p><%= subcategoria.name %> - <%= subcategoria.categoria.name %> </p>
                        <a href="/subcategorias/edit/<%=subcategoria.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form action="/subcategorias/delete/<%=subcategoria.id%>?m=DELETE" method="post">
                            <button type="submit">
                                <i class="fa-solid fa-xmark"></i>
                            </button>

                        </form>
                    </div>
                 
                <% }) %>
            </nav>

        </section>
    </main>
</body>
</html>