<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form method="post" action="/categorias/created">
            <h3> Editar Categoria <%= categoria.name %> </h3>
            <label for="name">Nombre de la categoria</label>
            <input type="text" name="name" id="name"
            value="<%= categoria.name%>">

            <label for="description">Descripcion (edad maxima, etc)</label>
            <textarea name="description" id="description" ><%= categoria.description %> </textarea>

            <button type="submit">Actualizar datos</button>

        </form>
    </main>
</body>
</html>