<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <h2>Goleadores/as <%= torneo.name %> <%= torneo.temporada %></h2>
        <form action="/goleadores/torneo/<%=torneo.id%>/created" method="post">
            <h3>Nuevo/a Goleador/a <i class="fa-solid fa-plus"></i></h3>

            <label for="torneo_id">Torneo ID</label>
            <input type="number" id="torneo_id" name="torneo_id" value="<%=torneo.id%>" readonly>

            <label for="equipo_id">Equipo</label>
            <select name="equipo_id" id="equipo_id">
                <option selected disabled>Seleccione...</option>
                <% equipos.forEach(e => { %>
                    <option value="<%=e.id%>"><%= e.team_name %></option> 
                <% }) %>
            </select>
            <% if (locals.errors && errors.equipo_id) { %>
                <p class="msg-error"><%= errors.equipo_id.msg %></p>
            <% } %>   

            <label for="last_name">Apellido</label>
            <input type="text" id="last_name" name="last_name"
            value="<%= locals.oldData ? oldData.last_name: null %>">
            <% if (locals.errors && errors.last_name) { %>
                <p class="msg-error"><%= errors.last_name.msg %></p>
            <% } %>  

            <label for="name">Nombre</label>
            <input id="name" name="name" type="text"
            value="<%= locals.oldData ? oldData.name: null %>">
            <% if (locals.errors && errors.name) { %>
                <p class="msg-error"><%= errors.name.msg %></p>
            <% } %> 

            <label for="goles">Cantidad de Goles realizados</label>
            <input type="number" id="goles" name="goles"
            value="<%= locals.oldData ? oldData.goles: null %>">
            <% if (locals.errors && errors.goles) { %>
                <p class="msg-error"><%= errors.goles.msg %></p>
            <% } %>  

            <button>Agregar Goleador/a</button>
        </form>
        <section>
            <h3>Creados Recientemente</h3>
            <table>
                <tr>
                    <th>Torneo</th>
                    <th>Equipo</th>
                    <th>Jugador/a</th>
                    <th>Goles</th>
                    <th>Agregar/ Quitar</th>
                    <th>Editar/Eliminar</th>
                </tr>
                <% lastGoleadores.forEach(g => { %>
                    <tr>
                        <td><%= g.torneo.name %> - <%= g.torneo.temporada %></td>
                        <td><%= g.equipo.team_name %></td>
                        <td><%= g.last_name %> <%= g.name %></td>
                        <td><%= g.goles %></td>
                        <td>
                            <form action="/goleadores/torneo/<%=g.torneo_id%>/<%=g.id%>/agregar" method="post">
                                <input type="number" name="add" id="add">
                                <button type="submit">Agregar</button>
                            </form>
                        </td>
                        <td>
                            <a href="/goleadores/torneo/<%=g.torneo_id%>/edit/<%=g.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                            <form action="/goleadores/delete/<%=g.id%>?m=DELETE" method="post">
                                <button type="submit">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                 
                <% }) %>
                
                
    
            </table>
        </section>



        <section>
            <h3>Lista de Goleadores/as (<%=goleadores.length  %>)</h3>
            <form method="get" action="/goleadores/torneo/<%=torneo.id%>/">
                <h4>Filtrar por:</h4>            
                <label for="equipo_id">Equipo:</label>
                <select name="equipo_id" id="equipo_id">
                    <option selected disabled>Selecciona un equipo</option>
                    <% equipos.forEach(e => { %>
                        <option value="<%=e.id%>"><%= e.team_name %></option> 
                    <% }) %>
                </select>
                
                <label for="last_name">Apellido:</label>
                <input type="text" id="last_name" name="last_name">

                <button type="submit">Buscar</button>
                <button type="reset">Eliminar filtros</button>
            </form>
            <% if (goleadores.length < 1) { %>
                <h4>Lo sentimos... No se encontraron resultados que coincidan con los filtros seleccionados.</h4>
             
            <% } else{%>
            <table>
                <tr>
                    <th>Torneo</th>
                    <th>Equipo</th>
                    <th>Jugador/a</th>
                    <th>Goles</th>
                    <th>Agregar/ Quitar</th>
                    <th>Editar/Eliminar</th>
                </tr>
                <% goleadores.forEach(g => { %>
                    <tr>
                        <td><%= g.torneo.name %> - <%= g.torneo.temporada %></td>
                        <td><%= g.equipo.team_name %></td>
                        <td><%= g.last_name %> <%= g.name %></td>
                        <td><%= g.goles %></td>
                        <td>
                            <form action="/goleadores/torneo/<%=g.torneo_id%>/<%=g.id%>/agregar" method="post">
                                <input type="number" name="add" id="add">
                                <button type="submit">Agregar</button>
                            </form>
                        </td>
                        <td>
                            <a href="/goleadores/torneo/<%=g.torneo_id%>/edit/<%=g.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                            <form action="/goleadores/delete/<%=g.id%>?m=DELETE" method="post">
                                <button type="submit">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                 
                <% }) %>
                
                
    
            </table>
            <%}%>

        </section>
        
    </main>
</body>
</html>