<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <section>
            <h3>Selecciona un torneo para ver sus Goleadores</h3>

            <nav>
                <% torneos.forEach(t => { %>
                    <a href="/goleadores/torneo/<%=t.id%>">Goleadores del <%= t.name %> <%= t.temporada %></a>
                    <% }) %>

            </nav>

            
        </section>
        

    </main>
</body>
</html>