<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <h2>Fechas del <%= torneo.name %> <%= torneo.temporada %></h2>
        <nav>
            <a href="/fechas/torneo/<%=torneo.id%>/create">Nueva Fecha <i class="fa-solid fa-plus"></i></a>
        </nav>
        <section>
            <h3>Creadas Recientemente</h3>
        </section>
        <section>
            <h3>Lista de Fechas</h3>
            <form action="/fechas/torneo/<%=torneo.id%>" method="get">

                <label for="id">Filtrar por Fecha</label>
                <select name="id" id="id">
                    <option selected disabled>Elegi la fecha Deseada</option>
                    <% fechas.forEach(f => { %>
                        <option value="<%=f.id%>"><%=f.name  %> - <%= f.dia %></option>
                     
                    <% }) %>
                </select>
                <button type="submit">Filtrar</button>            
            </form>

            <% fechas.forEach(f => { %>
                <h4><%= f.nro %> - <%= f.name %> - <%= f.dia==null? "A Confirmar": f.dia %> / <%= f.partidos.length %> Partidos</h4>
                <a href="/fechas/torneo/<%=torneo.id%>/edit/<%=f.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                <form action="/fechas/torneo/<%=torneo.id%>/delete/<%=f.id%>?m=DELETE" method="post">
                    <button type="submit">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </form>
             
            <% }) %>
        </section>

    </main>
</body>
</html>