<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <section>
            <h3>Selecciona un torneo para ver o agregar una nueva Fecha</h3>

            <nav>
                <% torneos.forEach(t => { %>
                    <a href="/fechas/torneo/<%=t.id%>">Fechas del torneo <%= t.name %> <%= t.temporada %></a>
                    <% }) %>

            </nav>

            
        </section>
        

    </main>
</body>
</html>