<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form method="post" action="/equipos/edit/<%= equipo.id %>?m=PUT" >
            <h3>Editar Equipo <%= equipo.name %> </h3>
            <label for="name">Nombre del Equipo</label>
            <input type="text" name="name" id="name"
            value="<%= locals.oldData ? oldData.name: equipo.name%>">
            <% if (locals.errors && errors.name) { %>
                <p class="msg-error"><%= errors.name.msg %></p>
            <% } %>  

            <label for="club_id">Club</label>
            <select name="club_id" id="club_id">
                <option  <%= !equipo.club_id ? "selected": "" %>  >Elige un club</option>
                <% clubes.forEach(c => { %>
                    <option value="<%=c.id%>" <%= c.id === equipo.club_id ? "selected": null %> ><%= c.name %></option>
                 
                <% }) %>
            </select>

            <label for="categoria_id">Categoria</label>
            <select name="categoria_id" id="categoria_id">
                <% categorias.forEach(c => { %>
                    <option value="<%=c.id%>" <%= c.id === equipo.categoria_id ? "selected": null %> ><%= c.name %></option>
                 
                <% }) %>
            </select>

            <label for="color_1">Color 1</label>
            <input type="text" id="color_1" name="color_1" value="<%=equipo.color_1%>">

            <label for="color_2">Color 2</label>
            <input type="text" id="color_2" name="color_2" value="<%=equipo.color_2%>">

            <label for="color_3">Color 3</label>
            
            <input type="text" id="color_3" name="color_3"  value="<%=equipo.color_3%>">
            
             <button type="submit">Guardar Cambios</button>
        </form>

    </main>
</body>
</html>