<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form method="post" action="/subcategorias/edit/<%=subcategoria.id%>?m=PUT">
            <h3> Editar Subcategoria <%= subcategoria.name %> </h3>
            <label for="name">Nombre de la subcategoria</label>
            <input type="text" name="name" id="name"
            value="<%= subcategoria.name%>">

            <label for="categoria_id">Categoria a la que pertenece</label>
            <select name="categoria_id" id="categoria_id">

                <% categoria.forEach(c=>{ %> 
                    <option value="<%= c.id %>" <%= (c.id== subcategoria.categoria_id)? "selected": null %> ><%= c.name %></option>

            

                <% }) %> 
            </select>

           

            <button type="submit">Actualizar datos</button>
        </form>
        <form action="/categorias/delete/<%=subcategoria.id%>?m=DELETE" method="post">
            <button type="submit">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </form>
    </main>
</body>
</html>