<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form method="post" action="/ternas/edit/<%= terna.id %>?m=PUT">
            <label for="name">Nombre de la terna (Abreviacion)</label>
            <input type="text" name="name" id="name" 
            value="<%= locals.oldData ? oldData.name: terna.name%>">
            <% if (locals.errors && errors.name) { %>
                <p class="msg-error"><%= errors.name.msg %></p>
            <% } %>  

            <label for="responsable">Nombre y Apellido del responsable</label>
            <input type="text" name="responsable" id="responsable" 
            value="<%= locals.oldData ? oldData.responsable: terna.responsable%>">
            <% if (locals.errors && errors.responsable) { %>
                <p class="msg-error"><%= errors.responsable.msg %></p>
            <% } %>  

            <label for="email">Email</label>
            <input type="email" name="email" id="email"
            value="<%= locals.oldData ? oldData.email: terna.email%>">
            <% if (locals.errors && errors.email) { %>
                <p class="msg-error"><%= errors.email.msg %></p>
            <% } %>  

            <label for="tel">Telefono</label>
            <input type="number" name="tel" id="tel" 
            value="<%= locals.oldData ? oldData.tel: terna.tel%>">
            <% if (locals.errors && errors.tel) { %>
                <p class="msg-error"><%= errors.tel.msg %></p>
            <% } %>  

            <button type="submit">Actualizar datos</button>
        </form>
        <form action="/ternas/delete/<%=terna.id%>?m=DELETE" method="post">
            <button type="submit">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </form>
    </main>
</body>
</html>