<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form method="post" action="/equipos-torneos/edit/<%= equipo.id %>?m=PUT">
            <h3>Editar Equipo: <%= equipo.equipo.name %> del Torneo: <%= equipo.torneo.name %> <%= equipo.torneo.temporada %> </h3>
            <label for="predio_id">Predio</label>
            <select name="predio_id" id="predio_id">
                <% predios.forEach(p => { %>

                    <option value="<%=p.id%>" <%= p.id === equipo.predio_id ? "selected": null %>><%= p.name %> </option>
                 
                <% }) %>
            </select>
            <% if (equipo.horario_local) { %>
                <label for="horario_local">Elige un nuevo Horario</label>
                <input type="time" id="horario_local" name="horario_local" value="<%= equipo.horario_local.substr(0, equipo.horario_local.length - 3) %>">
             
            <% }else{ %>
                <label for="horario_local">Elegi el horario que juegan de local</label>
                <input type="time" id="horario_local" name="horario_local">

            <% } %>
            
            
            
             <button type="submit">Guardar Cambios</button>
        </form>

    </main>
</body>
</html>