<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form action="/goleadores/torneo/<%=goleador.torneo_id%>/edit/<%=goleador.id%>?m=PUT" method="post">
            <h3>Editar datos de <%= goleador.last_name %> <%= goleador.name %>  </h3>

            <label for="name">Nombre</label>
            <input id="name" name="name" type="text" value="<%=goleador.name%>">

            <label for="last_name">Apellido</label>
            <input type="text" id="last_name" name="last_name" value="<%=goleador.last_name%>">

            <label for="equipo_id">Equipo</label>
            <select name="equipo_id" id="equipo_id">
                <% equipos.forEach(e => { %>
                    <option value="<%=e.id%>" <%= e.id == goleador.equipo_id? "selected": null %>><%= e.team_name %>
                <% }) %>
            </select>

            <label for="goles">Goles</label>
            <input type="number" id="goles" name="goles" value="<%=goleador.goles%>">

            <button>Actualizar Datos</button>
        </form>
    </main>
</body>
</html>        