<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
       <section>
        <h2>Datos de la terna "<%= terna.name %>"</h2>
        <table>
            <tr>
                <th>Siglas</th>
                <th>Responsable</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Editar/Eliminar</th>
            </tr>
            <tr>
                <td><%= terna.name %></td>
                <td><%= terna.responsable %></td>
                <td><%= terna.tel%></td>
                <td><%= terna.email %></td>
                <td>
                    <a href="/ternas/edit/<%=terna.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form action="/ternas/delete/<%=terna.id%>?m=DELETE" method="post">
                        <button type="submit">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </table>
       </section>
       <section>
        <h3>Partidos Dirigidos <%= !partidos? "" : `(${partidos.length})` %></h3>
        <form action="/ternas/<%=terna.id%>" method="get">
            <label for="temporada">Temporada (4 digitos):</label>
            <input type="number" id="temporada" name="temporada">

            <label for="mes">Mes:</label>
            <select name="mes" id="mes">
                <option selected disabled>Selecciona...</option>
                <option value="1">ENERO</option>
                <option value="2">FEBRERO</option>
                <option value="3">MARZO</option>
                <option value="4">ABRIL</option>
                <option value="5">MAYO</option>
                <option value="6">JUNIO</option>
                <option value="7">JULIO</option>
                <option value="8">AGOSTO</option>
                <option value="9">SEPTIEMBRE</option>
                <option value="10">OCTUBRE</option>
                <option value="11">NOVIEMBRE</option>
                <option value="12">DICIEMBRE</option>
            </select>

            <label for="estado">Estado del partido:</label>
            <select name="estado" id="estado">
                <option selected disabled>Selecciona...</option>
                <% estados.forEach(e => { %>
                    <option value="<%=e.id%>"><%= e.name %></option>
                 
                <% }) %>
            </select>

            <button type="submit">Filtrar</button>
            <button type="reset">Borrar Seleccion</button>
        </form>

        <% if (partidos.length < 1) { %> 
            <p>No se encontraron partidos que correspondan con los filtros seleccionados...</p>
        <% } else {%>

        <table>
            <tr>
                <th>Dia</th>
                <th>Local</th>
                <th></th>
                <th></th>
                <th>Visitante</th>
                <th>Hora</th>
                <th>Predio</th>
                <th>Estado</th>
            </tr>
            <% partidos.forEach(p => { %>
                <tr>
                    <td><%= p.dia %></td>
                    <td><%= p.local.teamName %></td>
                    <td><%= p.g_local %></td>
                    <td><%= p.g_visitante %></td>
                    <td><%= p.visitante.teamName %></td>
                    <td><%= p.hora %></td>
                    <td><%= p.predio.name %></td>
                    <td><%= p.estado.name %></td>
                </tr>
                
            <% }) %>
            
        </table>

        
        <% }%>

       </section>
    </main>
</body>
</html>