<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form action="/sancionados/created" method="post">
            <h3>Nuevo/a Sancionado/a <i class="fa-solid fa-plus"></i></h3>

            <label for="torneo_id">Torneo</label>
            <select name="torneo_id" id="torneo_id">
                <option selected disabled>Selecciona el torneo al que pertenece</option>
                <% torneos.forEach(t => { %>
                    <option value="<%=t.id%>"><%= t.name %> - <%= t.temporada %></option> 
                <% }) %>
            </select>

            <label for="equipo_id">Equipo</label>
            <select name="equipo_id" id="equipo_id">
                <option selected disabled>Selecciona el Equipo al que pertenece</option>
                <% equipos.forEach(e => { %>
                    <option value="<%=e.id%>"><%= e.name %> - <%= e.categoria.name %></option> 
                <% }) %>
            </select>

            <label for="name">Nombre</label>
            <input type="text" name="name" id="name">

            <label for="last_name">Apellido</label>
            <input type="text" id="last_name" name="last_name">

        </form>
        
    </main>
</body>
</html>        