<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>

        <section>
            <h2><%= torneo.name %></h2>
            <p>Temporada: <%= torneo.temporada %></p>
            <p>Categoria: <%= torneo.categoria.name %></p>

            <% if (torneo.subcategoria) { %>
                <p>Subcategoria: <%= torneo.subcategoria.name %> </p>
            <% } %>

            <% if (torneo.reglamento_path) { %>
                <a href="/assets/reglamentos-torneos/<%= torneo.reglamento_path %>" download="Reglamento <%= torneo.name %> <%= torneo.temporada %>">Descargar Reglamento</a>
            <% } %>
            <p>Equipos participantes: <%= torneo.equipos.length %></p>

        </section>
        <section>
            <h3>Agregar o quitar equipos</h3>

            <p>Para quitar un equipo del torneo debes seleccionar los que desees quitar de entre los que estan aca abajo y tocar el boton de "Eliminar equipo/s". En el caso para agregar equipos es de la misma forma pero con el boton "Agregar equipo/s"</p>

            <% if (torneo.equipos.length > 0) { %>
                <form action="/torneos/<%=torneo.id%>/quitarEquipos?m=PUT" method="POST">           
                    <h4>Quitar equipos del torneo</h4>
                    <% torneo.equipos.forEach(e => { %>
                       <input type="checkbox" name="equipos" value="<%=e.id%>" id="equipo-<%=e.id%>">
                       <label for="equipo-<%=e.id%>"><%= e.name %></label>
                    <% }) %>
                
                    <button type="submit">Eliminar equipo/s</button>
                </form>
            <% } %>

                
            <% if (!equipos.length ==0) { %>
            <form action="/torneos/<%=torneo.id%>/agregarEquipo?m=PUT" method="POST">
                <h4>Agregar equipos al torneo</h4>
                <%  equipos.forEach(e => { %>
                    <input type="checkbox" name="equipos" value="<%=e.id%>" id="equipo-<%=e.id%>">
                    <label for="equipo-<%=e.id%>"><%= e.name %> </label>
                <% }) %>
                
                    <button type="submit">Agregar equipo/s</button>                 
                
                
                </form>
            <% } %>
        </section>

        


    </main>
</body>
</html>