<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        
            <h3> Todos los Equipos (<%= allEquipos.length %>)</h3>

            <form method="get" action="/equipos-torneos/">
           
                <input type="text" name="name" id="name" placeholder="Buscar por Nombre">
                
    
                <label for="torneo_id">Filtrar por torneo</label>
                <select name="torneo_id" id="torneo_id">
                    <option selected disabled>Selecciona el torneo</option>
    
                    <% torneos.forEach(t=>{ %> 
                        <option value="<%= t.id %>"><%= t.name %> - <%= t.temporada %></option>
    
                    <% }) %> 
                </select>
    
                <label for="categoria_id">Filtrar por Categoria</label>
                <select name="categoria_id" id="categoria_id">
                    <option selected disabled>Selecciona la categoria</option>
                    <% categorias.forEach(c=>{ %> 
                        <option value="<%= c.id %>"><%= c.name %></option>
                    <% }) %>
                </select>
    
                <label for="predio_id">Filtrar por Predio</label>
                <select name="predio_id" id="predio_id">
                    <option selected disabled>Selecciona el predio</option>
                    <% predios.forEach(p=>{ %> 
                        <option value="<%= p.id %>"><%= p.name %></option>
                    <% }) %>
                </select>                
                <button type="submit">Buscar Equipo/s</button>
                <button type="reset">Eliminar Filtros</button>
            </form>

            <% if (allEquipos.length < 1) { %>
                <h4>Lo sentimos...
                    No se encontraron resultados que coincidan con los filtros seleccionados.</h4>
            <% } %>
            <section>
                <% allEquipos.forEach(e => { %>
                    
                        <article>
                            <h4><%= e.torneo.name %> <%= e.torneo.temporada %> - <%= e.equipo.name %></h4>
                            
                                <% if (e.predio && e.horario_local) { %>
                                    <p>Predio: <%=e.predio.name  %> - Horario de Local: <%=e.horario_local.substr(0, e.horario_local.length - 3) %></p>
                                 
                                <% } else if(e.predio && !e.horario_local){ %>
                                    <form action="/equipos-torneos/edit/<%= e.id %>?m=PUT" method="POST">
                                        <p>Predio: <%= e.predio.name %> - </p>
                                        <label for="horario_local">Horario de local:</label>
                                        <input name="horario_local" id="horario_local" type="time">
                                        <button type="submit">Actualizar Informacion</button>                                   
                                    </form>
                                
                                <%}else if(!e.predio && e.horario_local){ %>
                                    <form action="/equipos-torneos/edit/<%= e.id %>?m=PUT" method="POST"></form>
                                        <select name="predio_id" id="predio_id">
                                            <option selected disabled>Selecciona el predio</option>
                                            <% predios.forEach(p => { %>
                                                <option value="<%= p.id %>"><%= p.name %></option>                                             
                                            <% }) %>
                                        </select>
                                        <p> - H. Local: <%= e.horario_local.substr(0, e.horario_local.length - 3) %> </p>
                                        <button type="submit">Actualizar Informacion</button>
                                    </form>
                                    
                                
                                <%} else{ %>
                                    <form action="/equipos-torneos/edit/<%= e.id %>?m=PUT" method="POST">
                                        <select name="predio_id" id="predio_id">
                                            <option selected disabled>Selecciona el predio</option>
                                            <% predios.forEach(p => { %>
                                                <option value="<%= p.id %>"><%= p.name %></option>                                             
                                            <% }) %>
                                        </select>
                                        <label for="horario_local">Horario de local:</label>
                                        <input name="horario_local" id="horario_local" type="time">
                                        <button type="submit">Actualizar Informacion</button>                                   
                                    </form>
                                    

                                <% } %>
                                <a href="/equipos-torneos/edit/<%=e.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <form action="/equipos-torneos/delete/<%=e.id%>?m=DELETE" method="post">
                                        <button type="submit">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>

                                    </form>      
                        </article>

                    
                 
                <% }) %>
            </section>
                
        


            
        
        
    </main>
</body>
</html>