<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <form method="post" action="/predios/created" >
            <h3>Nuevo Predio <i class="fa-solid fa-plus"></i></h3>
            <label for="name">Nombre del Predio</label>
            <input type="text" name="name" id="name">

            <label for="adress">Dirección</label>
            <input type="text" name="adress" id="adress">

            <label for="map">HTML de Google maps</label>
            <input type="text" name="map" id="map">

            <button type="submit">Crear Predio</button>
        </form>
        <section>
            <h3>Creados Recientemente</h3>
            <nav>
                <% recentsPredios.forEach(predio => { %>
                    <div>
                        <p><%= predio.name %> - <%= predio.adress  %></p>
                        <a href="/predios/edit/<%=predio.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form action="/predios/delete/<%=predio.id%>?m=DELETE" method="post">
                            <button type="submit">
                                <i class="fa-solid fa-xmark"></i>
                            </button>

                        </form>
                    </div>
                 
                <% }) %>
            </nav>
        </section>
        <section>
            <h3>Lista de Predios</h3>
            <nav>
                <% listaPredios.forEach(predio => { %>
                    <div>
                        <p><%= predio.name %> - <%= predio.adress  %></p>
                        <a href="/predios/edit/<%=predio.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form action="/predios/delete/<%=predio.id%>?m=DELETE" method="post">
                            <button type="submit">
                                <i class="fa-solid fa-xmark"></i>
                            </button>

                        </form>
                    </div>
                 
                <% }) %>
            </nav>
        </section>
        
    </main>
    
</body>
</html>