<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %> 

<body>
    <%- include("../includes/header.ejs") %>
    <main>    

        <form action="/fair-play/edit/<%=fair_play.id%>?m=PUT" method="post">

            <h4>Equipo: <%= fair_play.equipo.name %></h4>
            <h4>Torneo: <%= fair_play.torneo.name %> <%= fair_play.torneo.temporada %></h4>

            <label for="amarillas">Tarjetas Amarillas</label>
            <input type="number" value="<%=fair_play.amarillas%>" name="amarillas" id=amarillas>
            
            <label for="rojas">Tarjetas Rojas</label>
            <input type="number" value="<%=fair_play.rojas%>" name="rojas" id="rojas" >
            
            <label for="amonestaciones">Amonestaciones</label>
            <input type="number" value="<%=fair_play.amonestaciones%>" name="amonestaciones" id="amonestaciones" >
            <textarea type="text" name="motivos_amon" id="motivos_amon" ><%= fair_play.motivos_amon %> </textarea>
             
            <button type="submit">Actualizar Datos</button>
        </form>
              

    </main>
</body>
</html>